body{
    background-color: #FCEBB6;
    color: #221811;
    font-family: Verdana,Arial,sans-serif;
    background-image: url(images/background.gif);
}


main h2,h3,h4,p,div,ul,dl{
    padding-left: 3em;
    padding-right: 2em;
}

header{
    background-color: #D2B48C;
    height: 150px;
    background-image: url(images/javajamlogo.jpg);
    background-repeat: no-repeat;
}

h1{
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

h2{
    font-weight: bold;
}

nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float:  left;
    width: 200px;
}

nav a{ text-decoration:none;}

nav a:link{
    color: #FEF6C2;
}

nav a:visited{
    color: #D2B48C;
}

nav a:hover{
    color:#CC9933;
}

nav ul{
    text-decoration: none;
    padding-left: 0;
    list-style-type: none;
}

footer{
    background-color: #D2B48C;
    color: #221811;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
}

h4{
    background-color: #D2B48C;
    font-size: 1.2em;
    padding-left: 0.5em;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 0;
    clear: left;
}

main{
    padding: 0 0 2em 0;
    display: block;
    margin-left: 200px;
    background-size: cover;
    background-color: #FEF6C2;
}

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper{
    background-color: #231814;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px 5px 5px 5px #828282;
}

*{
    box-sizing: border-box;
}

#heroroad{
    background-image: url(images/heroroad.jpg);
    background-size: cover;
    height: 250px;
}

#heromugs{
    background-image: url(images/heromugs.jpg);
    background-size: cover;
    height: 250px;
}

#heroguitar{
    background-image: url(images/heroguitar.jpg);
    background-size: cover;
    height: 250px;
}

.floatleft{
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

header, nav, main, footer { display: block; }

table{
    width: 90%;
    margin: auto;
    border-spacing: 0;
    background-color: #ffffcc;
}

td,th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #d2b48e;
}
